---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h4>About Trueque</h4>
  <p>
    This is a place where you are allow to exchange goods with money or kind
  </p>
</Layout>
