---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SearchBar from "../components/utils/SearchBar.astro";
---

<Layout title="Welcome to Trueque.">
  <h4>Looking for something?</h4>
  <SearchBar/>
</Layout>

<style>

  
</style>
